@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #a50606;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
}

img {
    width: 600px;
    height: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 10px auto;
    
}

button {
    font-size: 20px;
    margin: 5px;
    padding: 8px;
    border-width: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white; 
    border-top: 4px solid #ffcc00;
}

#secao4 {
    background-color: aqua;
}

#imagem {
    background-color: #222;
    padding: 8px;
    border-width: 8px;
    opacity: 1; 
}

.fade-out {
    animation: fadeIn 0.5s ease-in-out;
}

button:hover {
    background-color: #0615e6;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#galeria {
    background-color: #e9e9ff;
    border-radius: 5px;
    padding: 20px;
} 
#topo { 
   background-color:yellow;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    
} 

#principal{ 
    display:flex;
    flex-direction: row; 
    
}
#lateral { 
    width: 33%;
} 
#google{
    font-size: 10px;
 } 
 main{ 
    margin:20px;
 }
